@media screen and (max-width: 600px){
  .containerLogin {
    max-width: 370px;
    padding-top: 10px;
    margin: auto
  }                   
}
.logIn-card {
  height: 430px;
  width: 340px;
  border: 1px solid red;
}